{% extends 'base.html' %}
<br>

{% block content %}
    <div class="m-4 descripcion text-center">
        <h4>{{titulo}}</h4>
    </div>
    <div class="row container m-3">
        <table class="table table-striped m-4 table-dark">
            <thead>
                <th scope="col">Descripción Categoria</th>
                <th></th>
            </thead>
            <tbody>
                {% for cat in listaCategorias %}
                    <tr>
                        <td >{{cat.descripCategoria}}</td>
                        <td ><a href="{% url 'Productos' cat.id %}" type="button" class="btn btn-success">Listar
                            Productos</a></td>
                    </tr>   
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}