{% extends 'base.html' %}


{% block content %}
    <br>
    <div class="m-4 descripcion text-center">
        <h2>{{titulo}}</h2>
    </div>
    <div class="row container m-3">
        <table class="table table-striped m-4 table-dark">
            <thead>
                <th scope="col"></th>
                <th scope="col">nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Existencia</th>
                <th scope="col">Acciones</th>
            </thead>
            <tbody>
                {% for prod in listaProductos %}
                    <tr>
                        <td><img src="{{prod.imgPeque.url}}" alt="X"> </td>
                        <td>{{prod.nombre}}</td>
                        <td>{{prod.decripcion}}</td>
                        <td>{{prod.precioUnitario}}</td>
                        <td>{{prod.existencia}}</td>
                        <td><a href="{% url 'un_producto' prod.id %}" type="button" class="btn btn-info">Ver detalle</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}