{% load static %}
<!doctype html>
<html lang="en">

    <head>
        <title>WorkShop</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    </head>

<body>
    <div class="container">
        <div class="row">
            <div class="contenedor col-12 col-md-8 offset-md-2">
                {% include 'includes/head.html' %}
                {% include 'includes/nav.html' %}
            <div class="contenido">
                {% block content %}
                {% endblock %}
            </div>
                {% include 'includes/footer.html' %}
            </div>
        </div>
    </div>
    <!--Archivos JS-->
    <script src="{% static 'js/bootstrap' %}"></script>
</body>

</html>