{% load static %}
<!doctype html>
<html lang="en">

    <head>
        <title>WorkShop</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    </head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>
        <h1 class="text-bg-danger"></h1>
        {% block content %}
            
        {% endblock %}
            
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>